
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body class="text-center">
<main class="w-50 p-3 m-auto">

    <div class="h3 mb-3 fw-normal">Авторизатия</div>
        <form th:action="@{/login}" method="post">
          <div class="form-floating mb-5"><input class="form-control" type="text" name="username"/><label class="floatingInput">Логин</label></div>
          <div class="form-floating mb-5"><input class="form-control" type="password" name="password"/><label class="floatingInput">Пароль</label></div>
          <form method="post">
            <div><button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Войти</button></div>
        </form>
        </form>
    <a class="w-100 btn btn-lg btn-light mb-3" href="/registration">Регистрация</a>
    <div th:if="${param.error}" class="alert alert-danger" role="alert" >Неправильный логин или пароль</div>
    <div th:if="${param.logout}" class="alert alert-secondary" role="alert">Вы вышли из системы</div>
</main>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>

</html>