
<div th:fragment="header" >

    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>


                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/home" class="nav-link px-2 text-white">Главная</a></li>
                    <li><a href="/all-test" class="nav-link px-2 text-white">Все анкеты</a></li>
                    <li><a th:if="${bool}" href="/addtest" class="nav-link px-2 text-white">Добавить анкету</a></li>
                    <li><a th:if="${bool}" href="/eddittest" class="nav-link px-2 text-white">Редактировать анкету</a></li>
                    <li><a th:if="${bool}" href="/seeanswer" class="nav-link px-2 text-white">Посмотреть ответы пользователей</a></li>
                </ul>

                <form th:action="@{/logout}" method="post">
                    <input type="submit"  class="btn btn-warning" value="Выйти"/>
                </form>
            </div>
        </div>
    </header>
</div>
